body{background-image: url("resources/EssentialOfficeEquip.png");background-size: 130%}
.qq{height: 12vh;background-color: #949d9f;opacity: 0.6;display: flex}
.qv{width: 33.3%;height: 12vh;}
.qb{width: 50%;height: 12vh;}
.qc{width: 33.3%;height: 12vh}
.v{text-align: center;font-size: 15px;text-decoration: none;color: #ffffff;font-weight: bold;padding-left: 5px}
.v:hover{color: #fcff9d}
.qd{text-align: center;font-size: 40px;text-decoration: none;justify-content: center;color: white;padding-top: 20vh}
.qe{text-align: center;font-size: 25px;justify-content: center;text-decoration: none;color: white}
.qf{justify-content: center;color: #ffffff;background-color: unset;display: flex;font-weight: unset;width: 100px;height: 30px;
    margin-left: 47%;margin-right: 50%}
.qf:hover{color: white}
.qa{border-collapse: collapse;text-align: center;color: white;margin-left: 30%;margin-right: 30%;background-color: unset;
    font-size: 25px;height: 12vh}
.qi{text-align: center;color: white;background-color: unset;
    border-bottom-color: white;border-left: none;border-right: none;border-top: none;padding-left: 30px}
.qi:hover{background-color: white;color: black;border-bottom-color: white}